
div::-webkit-scrollbar {
  width: 0.3vw;
  height: 0.5vw;
}
div::-webkit-scrollbar-thumb {
  background-color: #8b7649;
  border-radius: 8px;
  size: 2px
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton{
        @apply px-6 py-2 border border-opacity-0 border-gray-900 rounded-full uppercase text-xs text-gray-500 transition-all tracking-widest hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }
    .progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10px;
        background: var(--red);
        transform-origin: 0%;
      }
      
}

